# Database Configuration

DATABASE_URL=jdbc:postgresql://ep-tight-block-a83wk7n1-pooler.eastus2.azure.neon.tech/clinic_db?sslmode=require&channel_binding=require
DATABASE_USERNAME=clinic_db_owner
DATABASE_PASSWORD=npg_T79ACcFZhuHU

# Backend Configuration

BACKEND_PORT=8888
JWT_SECRET_KEY=placeholderSecretKeyThatIsVeryLongAndSecure1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200,https://production-domain.com

# MINIO_API_URL=http://minio:9000
# MINIO_WEB_URL=http://minio:9001
# MINIO_API_URL=http://localhost:9000
MINIO_API_URL=b5l0.or.idrivee2-33.com
MINIO_WEB_URL=http://localhost:9001

S3_STORAGE_URL=b5l0.or.idrivee2-33.com
S3_STORAGE_ACCESS_KEY=7upuUIHza0UiAJmUkosI
S3_STORAGE_SECRET_KEY=uFrRIE0iWhDBRW9cMXE7FAwlLze4BahxZ6041Gfm

# Minio Configuration

MINIO_PROJECT_NAME=clinical-management
# MINIO_USERNAME=minio_username
# MINIO_PASSWORD=minio_password
MINIO_USERNAME=7upuUIHza0UiAJmUkosI
MINIO_PASSWORD=muFrRIE0iWhDBRW9cMXE7FAwlLze4BahxZ6041Gfm
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Javamail Configuration

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=mailtoteam48@gmail.com
MAIL_PASSWORD=cpmrgaaglxtkhbqs
MAIL_PROTOCOL=smtp